
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Space+Grotesk:wght@300&display=swap');

* {
    font-family: Space Grotesk;
    margin:  0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

body {
    width: 100%;
    background:  linear-gradient(135deg, rgba(18, 104, 233, 0.60) 0%, rgba(196, 113, 237, 0.60) 50%, rgba(246, 79, 89, 0.60) 100%);
}
